{% extends "template_base.j2" %}

{%- block import %}
{%- if task.Operator == "BigQueryInsertJobOperator" %}
from libs.providers.grupoboticario.operators.fake_bigquery import BigQueryInsertJobOperator
# from airflow.providers.google.cloud.operators.bigquery import BigQueryInsertJobOperator
{%- endif %}
{%- if dependencies|length > 0 %}
from libs.gb_external_task_sensor import GbExternalTaskSensor
{%- endif %}
{%- endblock %}

{%- block operator %}

    {% for dependency in dependencies %}
    sensor_{{dependency.TableId}} = GbExternalTaskSensor(
        task_id='sensor_{{dependency.TableId}}',
        external_dag_id='dag_{{dependency.TableId}}',
        external_task_id='dq_{{dependency.TableId}}',
        poke_interval={{dependency.PokeInterval}}*60,
        timeout=10*60,
        failed_states=['failed', 'skipped', 'upstream_failed'],
        dependency_mode='{{dependency.DependencyMode}}'
    )

    dqv_{{dependency.TableId}} = BigQueryInsertJobOperator(
        task_id='dqv_{{dependency.TableId}}',
        configuration={
            'query': {
                'query': 'CALL prc_data_quality',
                'useLegacySql': False,
                'priority': 'BATCH'
            },
        },
        depends_on_past=False
    )
    {% endfor %}

    {%- if task.Operator == "BigQueryInsertJobOperator" %}
    job_{{head.DocId}} = BigQueryInsertJobOperator(
        task_id='job_{{head.DocId}}',
        {%- if task.Query %}
        configuration={
            'query': {
                'query': '{{task.Query}}',
                'useLegacySql': False,
                'priority': 'BATCH'
            }
        },
        {%- elif task.Configuration %}
        configuration={{task.Configuration}},
        {%- endif %}
        depends_on_past=False
    )
    {%- endif %}

{%- endblock %}

{%- block dependency %}
    {% for dependency in dependencies %}
    sensor_{{dependency.TableId}} >> dqv_{{dependency.TableId}} >> job_{{head.DocId}}
    {%- endfor %}
{%- endblock %}
